page-insert-user-data {
    .profile-image-wrapper {
        text-align: center;
        margin: 20px 0;
    
        .profile-image {
          width: 96px;
          height: 96px;
          border-radius: 50%;
    
          display: inline-block;
    
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
    
        .profile-image-placeholder {
          display: inline-block;
    
          background-color: #eee;
          width: 96px;
          height: 96px;
          border-radius: 50%;
    
          font-size: 12px;
    
          ion-icon {
            font-size: 44px;
            margin-bottom: -10px;
            margin-top: 10px;
          }
        }
      }
    .color{
        background-color: #FFFFFD;
        color: black;
        font-weight: 400px;
        
        }
    
    textarea {
        width: 85%;
        height: 15vh;
        }
}

.toast{
  height: 55px;
  width: 260px;
  background-color: #333;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  margin-left: 15%;
  margin-top: 130%;
}