page-event-modal {
    .toast{
        height: 55px;
        width: 260px;
        background-color: #333;
        border-style: solid;
        border-width: 1px;
        border-radius: 100px;
        margin-left: 15%;
        margin-top: 130%;
    }
}

