page-medication-holder {
    .tabs-md[tabsHighlight="true"] .tab-highlight {
        background-color: white;
    }
    .tabs-md .tab-button {
        color: white !important;
       }
      
       //selected color
       .tabs-md .tab-button[aria-selected=true] {
         color: white !important;
         font-weight: 900;
       }
      
      .tab-button {
          color: white !important;
          background-color: #2E8B57;
      }
      
}
